<h1>Add a New Song</h1>
<form action="/songs" method="post">
  <label for="song_name">Song name: </label>
  <input type="text" id="song_name" name="Name">
  <br><br>

  <h4>Genre: </h4>
  <%@genres.each do |genre|%>
    <input type="checkbox" name="<%= genre.name %>" id="<%= genre.id %>" value="<%= genre.id %>"><%= genre.name %><br><br>
  <%end%>
  <br><br>

  <label for="<%= artist.id %>"></label>
  <input type="checkbox" name="Artist Name" id="<%= artist.id %>">
  <br><br>

  <input type="submit" value="Create">
</form>
