<h1>Add a New Song</h1>
<form action="/songs" method="post">
  <label for="song_name">Song name: </label>
  <input type="text" id="song_name" name="Name">
  <br><br>

  <h4>Genre: </h4>
  <%@genres.each do |genre|%>
    <input type="checkbox" name="<%= genre.name %>" id="<%= genre.id %>" value="<%= genre.id %>"><%= genre.name %><br><br>
  <%end%>
  <br><br>

  <h4>Artist: </h4>
  <%@artists.each do |artist|%>
    <input type="checkbox" name="<%= artist.name %>" id="<%= artist.id %>" value="<%= artist.id %>"><%= artist.name %><br><br>
  <%end%>
  <input type="submit" value="Create">

</form>
